@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-orbitron: "Orbitron", sans-serif;
  --font-syne: "Syne", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-space: "Space Grotesk", sans-serif;
  
  --color-background: #F7F7F8;
}

@layer base {
  body {
    @apply bg-[#F7F7F8] text-[#111111] dark:bg-[#0b0e14] dark:text-white transition-colors duration-300;
  }
}
